@import './theme/_sizes.scss';
@import './theme/_colors.scss';

:global(*) {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:global(body) {
  @extend .ma-0;
  @extend .pa-0;
  background: map-get($theme, "grey");
}

h1, h2, h3, h4, h5, h6, p {
  @extend .ma-0;
  color: map-get($theme, "text");
}

hr {
  border: 1px solid map-get($theme, "text");
  background: map-get($theme, "text");
}

a {
  color: #9A3AFF;
}

textarea.textarea {
  @extend .pa-3;
  stroke: 0;
  outline: 0;
  background-color: map-get($theme, 'grey');
  height: 30px;
  font-size: 16px;
}

button {
  @extend .ma-0;
  @extend .py-2;
  @extend .px-4;
  @extend .bra-2;
  stroke: 0;
  outline: 0;
  background: none;
  color: map-get($theme, "text");
  cursor: pointer;

  transition:
    0.05s transform cubic-bezier(.17, .67, 1, .38),
    0.05s border cubic-bezier(.17, .67, 1, .38),
    0.05s color cubic-bezier(.17, .67, 1, .38),
    0.05s background cubic-bezier(.17, .67, 1, .38)
  ;

  &:active {
    transform: translateY(2px);
  }

  @each $name, $color in $theme {
    &.#{$name} {
      background: none;
      border: 2px solid $color;
      color: $color;
    }
    &.#{$name}:hover {
      background: rgba($color, 0.2);
    }

    &.#{$name}--fill {
      background: $color;
      border: 2px solid $color;
      color: map-get($theme, "text");
    }
    &.#{$name}--fill:hover {
      background: rgba($color, 0.8);
    }

    &.#{$name}--text {
      border: none;
    }
    &.#{$name}--text:hover {
      background: rgba($color, 0.2);
    }
  }
}

#app {
  @extend .pa-6;
}

.spacer {
  height: 8px;
  width: 100%;
}

.layout {
  @extend .py-4;
  display: flex;
}

.d-flex {
  display: flex;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}

.card {
  @extend .bra-2;
  @extend .pa-3;
  border: 2px solid map-get($theme, "text");
}

.list-item {
  .remove {
    display: none;
  }
  &:hover {
    .remove {
      display: block;
    }
  }
}
